#  Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

#  Virtual environment
venv/
env/
*.env

# Mac system files
.DS_Store

# Model files (they’re large)
*.pth
*.h5

# Render or secret files
*.log
*.sqlite3

#  VS Code settings 
.vscode/
